.app {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-wrap: wrap;

  --nav-hight: 4rem;
  --sidebar-width: 4rem;
  --content-height: calc(100% - var(--nav-hight));

  .sidebar {
    height: var(--content-height);
  }

  .navbar {
    height: var(--nav-hight);
    width: 100dvw;
  }

  &-content {
    height: var(--content-height);
    width: calc(100% - var(--sidebar-width));
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
